{% extends '_layouts/base.html' %}

{% block content %}

<div id="top" class="row">
    <div class="span6"><img src="/static/img/logo.png" alt="LOGO" /></div>
    <div class="span4">
    <a href="/find" class="btn-large btn-danger" id="hungry" >I'm Hungry</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/add" class="btn-large btn-danger">I Cooked</a></div>
    </div>
    <br />
    <div id="main">
    <h3>This is a platform to help in reducing food wastage and providing food to those who need. It will also cater to needs of people who want to taste different home cooked foods and those who like cooking.</h3><br />
    <h4>This is for use by many different but not limited to following groups of people:</h4>
    <ul type="disc">
    <li>Families who want to reduce food wastage</li>
    <li>NGOs which help poor and needy for food</li>
    <li>People who can't cook food themselves</li>
    <li>People who want to eat home cooked food only</li>
    <li>People who want to taste different types of foods</li>
    <li>People who like cooking</li>
    </ul>
    <h3>Click <a href="accounts/login">Login</a> to begin.</h3>
</div>

{% endblock %}